<xml>
  <database name="default">
    <dbn>sqlite:///etc/fresh/seeddb.sqlite</dbn>
  </database>

  <seed>
    <database>default</database>
  </seed>

  <!--
  You can use one or more service sections in this file.
  The daemon and the queue that are referenced herend must exist
  in the Exscriptd config file.
  -->
  <service name="seed">
      <daemon>rest-daemon</daemon>
      <path>$FRESH_DIR/seed</path>
      <queue>default-queue</queue>
  </service>
</xml>
