<xml>
  <variables>
    <sourceDir>/my/input/dir</sourceDir>
    <packageDir>/my/package/dir</packageDir>
  </variables>

  <database name="default">
    <dbn>sqlite:///etc/fresh/seeddb.sqlite</dbn>
  </database>

  <profile name="ios">
    <link name="{hostname}">show_running-config.txt</link>
  </profile>

  <profile name="ios_xr">
    <link name="{hostname}">show_run_formal.txt</link>
  </profile>

  <profile name="junos">
    <link name="{hostname}">show_configuration_display_set.txt</link>
  </profile>

  <packager>
    <database>default</database>
    <input-dir>$sourceDir</input-dir>
    <package-dir>$packageDir</package-dir>
    <format>bz2</format>
    <profile if="os == 'ios'">ios</profile>
    <profile if="os == 'ios_xr'">ios_xr</profile>
    <profile if="os == 'junos'">junos</profile>
  </packager>

  <!--
  You can use one or more service sections in this file.
  The daemon and the queue that are referenced herend must exist
  in the Exscriptd config file.
  -->
  <service name="mypackager">
      <daemon>rest-daemon</daemon>
      <path>$FRESH_DIR/packager</path>
      <queue>default-queue</queue>
  </service>
</xml>
