<xml>
  <variables>
    <sourceDir>/my/input/dir</sourceDir>
    <packageDir>/my/package/dir</packageDir>
  </variables>

  <database name="default">
    <dbn>sqlite:///etc/fresh/seeddb.sqlite</dbn>
  </database>

  <profile name="ios">
    <link name="{hostname}">show_running-config.txt</link>
  </profile>

  <profile name="ios_xr">
    <link name="{hostname}">show_run_formal.txt</link>
  </profile>

  <profile name="junos">
    <link name="{hostname}">show_configuration_display_set.txt</link>
  </profile>

  <mailer name="mailer">
    <from>me@home.com</from>
    <to>receipient@home.com</to>
    <subject>My subject</subject>
    <body>
    Please note the attached file.
    </body>
    <server>mailserver</server>
  </mailer>

  <packager>
    <database>default</database>
    <input-dir>$sourceDir</input-dir>
    <package-dir>$packageDir</package-dir>
    <package-name>mypackage.tar</package-name>
    <!-- Supported formats: directory, tar, gz, bz2 -->
    <format>tar</format>
    <overwrite/>
    <send-to>mailer</send-to>
    <profile if="os == 'ios'">ios</profile>
    <profile if="os == 'ios_xr'">ios_xr</profile>
    <profile if="os == 'junos'">junos</profile>
  </packager>

  <!--
  You can use one or more service sections in this file.
  The daemon and the queue that are referenced herend must exist
  in the Exscriptd config file.
  -->
  <service name="mypackager">
      <daemon>rest-daemon</daemon>
      <path>$FRESH_DIR/packager</path>
      <queue>default-queue</queue>
  </service>
</xml>
