<xml>
  <variables>
    <fileStoreDir>/my/output/dir</fileStoreDir>
  </variables>

  <!--
  Data processor configuration.
  -->
  <!--
  The file-store processor takes output from a device and saves it
  in a directory structure.
  -->
  <file-store name="file-store">
      <basedir>$fileStoreDir</basedir>
  </file-store>

  <!--
  The gelatin processor transforms text files into XML documents
  using Gelatin.
  -->
  <processor type="gelatin" name="gelatin">
    <syntax-dir>providers</syntax-dir>
    <format>xml</format>
  </processor>

  <!--
  The xslt processor transforms XML documents.
  -->
  <processor type="xslt" name="xslt">
    <xsl-dir>providers</xsl-dir>
    <add-timestamp/>
  </processor>

  <!--
  The exist-db processor takes an XML file and sends it to an
  eXist-db XML database.
  -->
  <processor type="exist-db" name="exist-db">
    <host>localhost</host>
    <port>6949</port>
    <user>import-user</user>
    <password>import-user</password>
    <collection>/exist/rest/ips</collection>
  </processor>

  <!--
  Actions taken on hosts running IOS.
  -->
  <provider
    name="ios"
    filename="providers/ios/IOSProvider.py"
    store="file-store">
      <auto_authorize/>
      <execute command="show running-config">
          <store filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="show inventory">
          <store filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
      <execute command="show diag" ignore_error="1">
          <store filename="show_diag.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_diag.gel"
            filename="show_diag.xml"/>
      </execute>
      <execute command="show cef linecard" ignore_error="1">
          <store filename="show_cef_linecard.txt"/>
      </execute>
      <execute command="who">
          <store filename="who.txt"/>
      </execute>
      <execute command="show clock">
          <store filename="show_clock.txt"/>
      </execute>
      <execute command="show c7200" ignore_error="1">
          <store filename="show_c7200.txt"/>
      </execute>
      <execute command="show gsr chassis-info" ignore_error="1">
          <store filename="show_gsr_chassis-info.txt"/>
      </execute>
      <execute command="show chassis eeprom" ignore_error="1">
          <store filename="show_chassis_eeprom.txt"/>
      </execute>
      <execute command="show module" ignore_error="1">
          <store filename="show_module.txt"/>
      </execute>
      <execute command="show idprom all" ignore_error="1">
          <store filename="show_idprom_all.txt"/>
      </execute>
      <execute command="show sprom chassis" ignore_error="1">
          <store filename="show_sprom_chassis.txt"/>
      </execute>
      <execute command="show cdp nei">
          <store filename="show_cdp_nei.txt"/>
      </execute>
      <execute command="show cdp nei detail" ignore_error="1">
          <store filename="show_cdp_nei_detail.txt"/>
      </execute>
      <execute command="show slot0:" ignore_error="1">
          <store filename="show_slot0.txt"/>
      </execute>
      <execute command="show slot1:" ignore_error="1">
          <store filename="show_slot1.txt"/>
      </execute>
      <execute command="show disk0:" ignore_error="1">
          <store filename="show_disk0.txt"/>
      </execute>
      <execute command="show disk1:" ignore_error="1">
          <store filename="show_disk1.txt"/>
      </execute>
      <execute command="show disk2:" ignore_error="1">
          <store filename="show_disk2.txt"/>
      </execute>
      <execute command="show bootflash:" ignore_error="1">
          <store filename="show_bootflash.txt"/>
      </execute>
      <execute command="show slaveslot0:" ignore_error="1">
          <store filename="show_slaveslot0.txt"/>
      </execute>
      <execute command="show slaveslot1:" ignore_error="1">
          <store filename="show_slaveslot1.txt"/>
      </execute>
      <execute command="show slavedisk0:" ignore_error="1">
          <store filename="show_slavedisk0.txt"/>
      </execute>
      <execute command="show slavedisk1:" ignore_error="1">
          <store filename="show_slavedisk1.txt"/>
      </execute>
      <execute command="show slavedisk2:" ignore_error="1">
          <store filename="show_slavedisk2.txt"/>
      </execute>
      <execute command="show slavebootflash:" ignore_error="1">
          <store filename="show_slavebootflash.txt"/>
      </execute>
      <execute command="show sec-slot0:" ignore_error="1">
          <store filename="show_sec-slot0.txt"/>
      </execute>
      <execute command="show sec-slot1:" ignore_error="1">
          <store filename="show_sec-slot1.txt"/>
      </execute>
      <execute command="show sec-disk0:" ignore_error="1">
          <store filename="show_sec-disk0.txt"/>
      </execute>
      <execute command="show sec-disk1:" ignore_error="1">
          <store filename="show_sec-disk1.txt"/>
      </execute>
      <execute command="show sec-disk2:" ignore_error="1">
          <store filename="show_sec-disk2.txt"/>
      </execute>
      <execute command="show sec-bootflash:" ignore_error="1">
          <store filename="show_sec-bootflash.txt"/>
      </execute>
      <execute command="show file system">
          <store filename="show_file_system.txt"/>
      </execute>
      <execute command="show rsp chassis-info" ignore_error="1">
          <store filename="show_rsp_chassis-info.txt"/>
      </execute>
      <execute command="show redundancy" ignore_error="1">
          <store filename="show_redundancy.txt"/>
      </execute>
      <execute command="show redundancy all" ignore_error="1">
          <store filename="show_redundancy_all.txt"/>
      </execute>
      <execute command="show environment all" ignore_error="1">
          <store filename="show_environment_all.txt"/>
      </execute>
      <execute command="show controller fia" ignore_error="1">
          <store filename="show_controller_fia.txt"/>
      </execute>
      <execute command="show mem summary">
          <store filename="show_mem_summary.txt"/>
      </execute>
      <execute command="show ip route summary">
          <store filename="show_ip_route_summary.txt"/>
      </execute>
      <execute command="show processes cpu">
          <store filename="show_processes_cpu.txt"/>
      </execute>
      <execute command="show ip cef 0.0.0.0 0.0.0.0 internal" ignore_error="1">
          <store filename="show_ip_cef_0.0.0.0_0.0.0.0_internal.txt"/>
      </execute>
      <execute command="execute-on standby show gsr" ignore_error="1">
          <store filename="execute-on_standby_show_gsr.txt"/>
      </execute>
      <post-process
        processor="xslt"
        xslt="ios/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_running-config.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  Actions taken on hosts running IOS XR.
  -->
  <provider
    name="ios_xr"
    filename="providers/ios_xr/IOSXRProvider.py"
    store="file-store">
      <execute command="show running-config">
          <store filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show run formal">
          <store filename="show_run_formal.txt"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="admin show diag">
          <store filename="admin_show_diag.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/admin_show_diag.gel"
            filename="admin_show_diag.xml"/>
      </execute>
      <execute command="admin show running-config">
          <store filename="admin_show_running-config.txt"/>
      </execute>
      <execute command="show inventory">
          <store filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
      <execute command="show ipv4 int brief">
          <store filename="show_ipv4_int_brief.txt"/>
      </execute>
      <execute command="show clock">
          <store filename="show_clock.txt"/>
      </execute>
      <execute command="show users">
          <store filename="show_users.txt"/>
      </execute>
      <execute command="show install active">
          <store filename="show_install_active.txt"/>
      </execute>
      <execute command="show cdp nei">
          <store filename="show_cdp_nei.txt"/>
      </execute>
      <execute command="show cdp nei detail">
          <store filename="show_cdp_nei_detail.txt"/>
      </execute>
      <execute command="show ntp status">
          <store filename="show_ntp_status.txt"/>
      </execute>
      <execute command="dir harddisk:dumper location all">
          <store filename="dir_harddiskdumper_location_all.txt"/>
      </execute>
      <execute command="dir harddisk: location all">
          <store filename="dir_harddisk_location_all.txt"/>
      </execute>
      <execute command="dir compactflash: location all">
          <store filename="dir_compactflash_location_all.txt"/>
      </execute>
      <execute command="dir disk0:dumper location all">
          <store filename="dir_disk0dumper_location_all.txt"/>
      </execute>
      <execute command="dir disk0: location all">
          <store filename="dir_disk0_location_all.txt"/>
      </execute>
      <execute command="dir disk0:/showtech location all">
          <store filename="dir_disk0showtech_location_all.txt"/>
      </execute>
      <execute command="show filesystem">
          <store filename="show_filesystem.txt"/>
      </execute>
      <execute command="show redundancy">
          <store filename="show_redundancy.txt"/>
      </execute>
      <execute command="show mem summary">
          <store filename="show_mem_summary.txt"/>
      </execute>
      <execute command="show route summary">
          <store filename="show_route_summary.txt"/>
      </execute>
      <execute command="show processes cpu">
          <store filename="show_processes_cpu.txt"/>
      </execute>
      <execute command="show processes memory">
          <store filename="show_processes_memory.txt"/>
      </execute>
      <execute command="show platform">
          <store filename="show_platform.txt"/>
      </execute>
      <execute command="admin show controllers fabric clock">
          <store filename="admin_show_controllers_fabric_clock.txt"/>
      </execute>
      <execute command="admin show controllers fabric fab-control">
          <store filename="admin_show_controllers_fabric_fab-control.txt"/>
      </execute>
      <post-process
        processor="xslt"
        xslt="ios_xr/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_running-config.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  Actions taken on hosts running JunOS.
  -->
  <provider
    name="junos"
    filename="providers/junos/JunOSProvider.py"
    store="file-store">
      <!-- normal commands -->
      <execute command="show configuration">
          <store filename="show_configuration.txt"/>
      </execute>
      <execute command="show version brief">
          <store filename="show_version_brief.txt"/>
      </execute>
      <execute command="show chassis hardware detail">
          <store filename="show_chassis_hardware_detail.txt"/>
      </execute>
      <execute command="show chassis hardware models">
          <store filename="show_chassis_hardware_models.txt"/>
      </execute>
      <execute command="show chassis hardware extensive">
          <store filename="show_chassis_hardware_extensive.txt"/>
      </execute>
      <execute command="show chassis firmware">
          <store filename="show_chassis_firmware.txt"/>
      </execute>
      <execute command="show system firmware">
          <store filename="show_system_firmware.txt"/>
      </execute>
      <execute command="show system storage">
          <store filename="show_system_storage.txt"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
      </execute>
      <execute command="show route summary">
          <store filename="show_route_summary.txt"/>
      </execute>
      <execute command="show system core-dumps">
          <store filename="show_system_core-dumps.txt"/>
      </execute>
      <execute command="show system users">
          <store filename="show_system_users.txt"/>
      </execute>

      <!-- Commands with "| display set". -->
      <execute command="show configuration | display set">
          <store filename="show_configuration_display_set.txt"/>
      </execute>

      <!-- XML commands. -->
      <execute command="show configuration | display xml">
          <store filename="show_configuration.xml"/>
      </execute>
      <execute command="show version | display xml">
          <store filename="show_version.xml"/>
      </execute>
      <execute command="show chassis hardware detail | display xml">
          <store filename="show_chassis_hardware_detail.xml"/>
      </execute>
      <execute command="show chassis hardware | display xml">
          <store filename="show_chassis_hardware.xml"/>
      </execute>
      <execute command="show interface | display xml">
          <store filename="show_interface.xml"/>
      </execute>

      <!-- Commands on the other routing engine. -->
      <execute command="request routing-engine login other-routing-engine"/>
      <execute command="show system users">
          <store filename="show_system_users_other_re.txt"/>
      </execute>
      <execute command="exit"/>

      <post-process
        processor="xslt"
        xslt="junos/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_configuration.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  The seeddb is the database containing the list host hosts.
  -->
  <database name="seeddb">
    <dbn>sqlite:///$fileStoreDir/seeddb.sqlite</dbn>
  </database>

  <!--
  The grabber config.
  -->
  <grabber>
      <seeddb>seeddb</seeddb>
      <provider name="ios"/>
      <provider name="ios_xr"/>
  </grabber>
</xml>
