<xml>
  <variables>
    <fileStoreDir>/my/output/dir</fileStoreDir>
  </variables>

  <!--
  Data processor configuration.
  -->
  <!--
  The file-store processor takes output from a device and saves it
  in a directory structure.
  -->
  <processor type="file-store" name="file-store">
      <basedir>$fileStoreDir</basedir>
  </processor>

  <!--
  The gelatin processor transforms text files into XML documents
  using Gelatin.
  -->
  <processor type="gelatin" name="gelatin">
    <syntax-dir>providers</syntax-dir>
    <output-dir>$fileStoreDir</output-dir>
  </processor>

  <!--
  The xslt processor transforms XML documents.
  -->
  <processor type="xslt" name="xslt">
    <xsl-dir>providers</xsl-dir>
    <output-dir>$fileStoreDir</output-dir>
  </processor>

  <!--
  The exist-db processor takes an XML file and sends it to an
  eXist-db XML database.
  -->
  <processor type="exist-db" name="exist-db">
    <host>localhost</host>
    <port>6949</port>
    <user>import-user</user>
    <password>import-user</password>
    <collection>/exist/rest/ips</collection>
  </processor>

  <!--
  Actions taken on hosts running IOS.
  -->
  <provider name="ios" filename="providers/ios/IOSProvider.py">
      <auto_authorize/>
      <execute command="show running-config">
          <post-process processor="file-store" filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show version">
          <post-process processor="file-store" filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <post-process processor="file-store" filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="show inventory">
          <post-process processor="file-store" filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
      <execute command="show diag" ignore_error="1">
          <post-process processor="file-store" filename="show_diag.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_diag.gel"
            filename="show_diag.xml"/>
      </execute>
      <post-process
        processor="xslt"
        xslt="ios/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_running-config.xml"
        output="generic.xml"/>
  </provider>

  <!--
  Actions taken on hosts running IOS XR.
  -->
  <provider name="ios_xr" filename="providers/ios_xr/IOSXRProvider.py">
      <execute command="show running-config">
          <post-process processor="file-store" filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show version">
          <post-process processor="file-store" filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <post-process processor="file-store" filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="show inventory">
          <post-process processor="file-store" filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
  </provider>

  <!--
  The seeddb is the database containing the list host hosts.
  -->
  <database name="seeddb">
    <dbn>sqlite:///$fileStoreDir/seeddb.sqlite</dbn>
  </database>

  <!--
  The grabber config.
  -->
  <grabber>
      <seeddb>seeddb</seeddb>
      <provider name="ios"/>
      <provider name="ios_xr"/>
  </grabber>
</xml>
