<xml>
  <variables>
    <fileStoreDir>/my/output/dir</fileStoreDir>
  </variables>

  <!--
  Data processor configuration.
  -->
  <!--
  The file-store processor takes output from a device and saves it
  in a directory structure.
  -->
  <file-store name="file-store">
      <basedir>$fileStoreDir</basedir>
  </file-store>

  <!--
  The gelatin processor transforms text files into XML documents
  using Gelatin.
  -->
  <processor type="gelatin" name="gelatin">
    <syntax-dir>providers</syntax-dir>
    <format>xml</format>
  </processor>

  <!--
  The xslt processor transforms XML documents.
  -->
  <processor type="xslt" name="xslt">
    <xsl-dir>providers</xsl-dir>
    <add-timestamp/>
  </processor>

  <!--
  The exist-db processor takes an XML file and sends it to an
  eXist-db XML database.
  -->
  <processor type="exist-db" name="exist-db">
    <host>localhost</host>
    <port>6949</port>
    <user>import-user</user>
    <password>import-user</password>
    <collection>/exist/rest/ips</collection>
  </processor>

  <!--
  Actions taken on hosts running IOS.
  -->
  <provider
    name="ios"
    filename="providers/ios/IOSProvider.py"
    store="file-store">
      <auto_authorize/>
      <execute command="show running-config">
          <store filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="show inventory">
          <store filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
      <execute command="show diag" ignore_error="1">
          <store filename="show_diag.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios/gel/show_diag.gel"
            filename="show_diag.xml"/>
      </execute>
      <post-process
        processor="xslt"
        xslt="ios/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_running-config.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  Actions taken on hosts running IOS XR.
  -->
  <provider
    name="ios_xr"
    filename="providers/ios_xr/IOSXRProvider.py"
    store="file-store">
      <execute command="show running-config">
          <store filename="show_running-config.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_running-config.gel"
            filename="show_running-config.xml"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_version.gel"
            filename="show_version.xml"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_interface.gel"
            filename="show_interface.xml"/>
      </execute>
      <execute command="show inventory">
          <store filename="show_inventory.txt"/>
          <post-process
            processor="gelatin"
            syntax="ios_xr/gel/show_inventory.gel"
            filename="show_inventory.xml"/>
      </execute>
      <post-process
        processor="xslt"
        xslt="ios_xr/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_running-config.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  Actions taken on hosts running JunOS.
  -->
  <provider
    name="junos"
    filename="providers/junos/JunOSProvider.py"
    store="file-store">
      <!-- normal commands -->
      <execute command="show configuration">
          <store filename="show_configuration.txt"/>
      </execute>
      <execute command="show version brief">
          <store filename="show_version_brief.txt"/>
      </execute>
      <execute command="show chassis hardware detail">
          <store filename="show_chassis_hardware_detail.txt"/>
      </execute>
      <execute command="show chassis hardware models">
          <store filename="show_chassis_hardware_models.txt"/>
      </execute>
      <execute command="show chassis hardware extensive">
          <store filename="show_chassis_hardware_extensive.txt"/>
      </execute>
      <execute command="show chassis firmware">
          <store filename="show_chassis_firmware.txt"/>
      </execute>
      <execute command="show system firmware">
          <store filename="show_system_firmware.txt"/>
      </execute>
      <execute command="show system storage">
          <store filename="show_system_storage.txt"/>
      </execute>
      <execute command="show version">
          <store filename="show_version.txt"/>
      </execute>
      <execute command="show interface">
          <store filename="show_interface.txt"/>
      </execute>
      <execute command="show route summary">
          <store filename="show_route_summary.txt"/>
      </execute>
      <execute command="show system core-dumps">
          <store filename="show_system_core-dumps.txt"/>
      </execute>
      <execute command="show system users">
          <store filename="show_system_users.txt"/>
      </execute>

      <!-- Commands with "| display set". -->
      <execute command="show configuration | display set">
          <store filename="show_configuration_display_set.txt"/>
      </execute>

      <!-- XML commands. -->
      <execute command="show configuration | display xml">
          <store filename="show_configuration.xml"/>
      </execute>
      <execute command="show version | display xml">
          <store filename="show_version.xml"/>
      </execute>
      <execute command="show chassis hardware detail | display xml">
          <store filename="show_chassis_hardware_detail.xml"/>
      </execute>
      <execute command="show chassis hardware | display xml">
          <store filename="show_chassis_hardware.xml"/>
      </execute>
      <execute command="show interface | display xml">
          <store filename="show_interface.xml"/>
      </execute>

      <!-- Commands on the other routing engine. -->
      <execute command="request routing-engine login other-routing-engine"/>
      <execute command="show system users">
          <store filename="show_system_users_other_re.txt"/>
      </execute>
      <execute command="exit"/>

      <post-process
        processor="xslt"
        xslt="junos/xsl/generic.xsl"
        xsd="../xsl/model.xsd"
        input="show_configuration.xml"
        output="generic.xml"/>
      <post-process
        processor="exist-db"
        filename="generic.xml"
        document="{hostname}.xml"/>
  </provider>

  <!--
  The seeddb is the database containing the list host hosts.
  -->
  <database name="seeddb">
    <dbn>sqlite:///$fileStoreDir/seeddb.sqlite</dbn>
  </database>

  <!--
  The grabber config.
  -->
  <grabber>
      <seeddb>seeddb</seeddb>
      <provider name="ios"/>
      <provider name="ios_xr"/>
  </grabber>
</xml>
